%h1 PNP demo
%h3 Load file (currently supported format: .txt)

%input{:id=>"load",:type=>"file"} 

%h2 List of boards

%table.table
  %thead
    %tr
      %th.col-xs-9 name 
  %tbody
    - @boards.each do |board|
      %tr
        %td= board.name
        %td 
          =link_to "Show", board_path(board)
        %td 
          =link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }