%p{style: 'font-weight: bold'} Controller
.container
  .row
    %button.btn.btn-default.jog.up.col-md-1.col-md-offset-1
      %span.caret{style: 'transform: rotate(180deg)'}
  .row
    %button.btn.btn-default.jog.left.col-md-1
      %span.caret{style: 'transform: rotate(90deg)'}
    %button.btn.btn-default.jog.right.col-md-1.col-md-offset-1
      %span.caret{style: 'transform: rotate(270deg)'}
  .row
    %button.btn.btn-default.jog.down.col-md-1.col-md-offset-1
      %span.caret

  .row{style: "margin-top: 50px;"}
    %span{style: 'vertical-align: middle; display: inline; font-weight: bold;'} jog width
    .btn-group{:role => "group", :style => "vertical-align: middle"}
      %label.btn.btn-default{:class => "**active**"}
        %input#inputWalls{:checked => "checked", :name => "inputWalls", :type => "radio", :value => "Excellent"}
        1
      %label.btn.btn-default
        %input#inputWalls{:name => "inputWalls", :type => "radio", :value => "Good"}
        10
      %label.btn.btn-default
        %input#inputWalls{:name => "inputWalls", :type => "radio", :value => "Poor"}
        100