%h3 Jog control

.container{style: 'margin: 20px;'}
  .row.col-md-4
    = render partial: 'control'
  .row.col-md-4
    %p{style: 'font-weight: bold'} Console
    %textarea.form-control{rows: "10", style: 'max-width: 300px; min-width: 300px; min-height:200px; max-height: 200px; font-family: "Courier New"'}
