%h3 Listing footprints 

.panel.panel-default.col-md-8
  %span{style: 'font-weight:bold;margin:0 10px;'} import footprints
  %button.btn.btn-default{style: 'margin:10px;'} import 

.panel.panel-default.col-md-8
  %table.table.table-striped.table-hover
    %thead
      %tr 
        %th name
        %th outward_width
        %th outward_depth
        %th unit
    %tbody
      - @footprints.each do |f|
        %tr
          %td.col-md-2= f.name
          %td.col-md-2= f.outward_width
          %td.col-md-2= f.outward_depth
          %td.col-md-2= f.unit
