.container
  .row{style: "margin-top: 20px;"}
    %span{style: 'vertical-align: middle; display: inline; font-weight: bold;'} Mode select
    .btn-group{:role => "group", :style => "vertical-align: middle"}
      %label.btn.btn-default{:class => "**active**"}
        %input#modeSelect{:checked => "checked", :name => "modeSelect", :type => "radio", :value => "fixed"}
        fixed 
      %label.btn.btn-default
        %input#modeSelect{:name => "modeSelect", :type => "radio", :value => "flexible"}
        flexible 

  .row{style: "margin-top: 20px;"}
    %form.form-inline{style: "width: 80px;"}
      .form-group
        %label Plate X position 
        %input#exampleInputName2.form-control{:placeholder => "Plate X", :type => "text"}
      .form-group
        %label Plate Y position 
        %input#exampleInputEmail2.form-control{:placeholder => "Plate Y", :type => "text"}
      .form-group
        %label Board X position 
        %input#exampleInputName2.form-control{:placeholder => "Board X", :type => "text"}
      .form-group
        %label Board Y position 
        %input#exampleInputEmail2.form-control{:placeholder => "Board Y", :type => "text"}
      %button.btn.btn-default{:type => "button", :style =>'margin-top: 20px;'} Generate G-code
