%h3 Tray generator

.container
  .col-md-5
    %h4 Viewer
    %canvas{style: 'border: #cccccc 1px solid;width: 400px; height:400px;'}
  
  
  .col-md-3
    %h4 Download as a file (.dxf) 
    %button.btn.btn-default Download