%h3 Tray generator

.container
  .col-md-6
    %h4 Viewer
    %canvas{style: 'border: #cccccc 1px solid; max-width: 400px; height: 350px;'}
  
  .col-md-3
    %h4 Download as a file (.dxf) 
    %button.btn.btn-default Download