%h3 Tray generator

.container
  .col-md-6
    %h4 Viewer
    / %canvas#tray_canvas{style: 'border: #cccccc 1px solid; max-width: 400px; height: 350px;'}
    #chart-canvas
      %svg#svgOne{xmlns: "http://www.w3.org/2000/svg", style: 'border: #cccccc 1px solid; max-width: 400px; height: 350px;'}
  
  .col-md-3
    %h4 Download as a file (.dxf) 
    %button.btn.btn-default#download_dxf Download
    #download_area