%h1 Dashboard

%h2 Import board file 
%button#open_modal_btn.btn.btn-default import

%h2 List of boards
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-xs-9 name 
  %tbody
    - @boards.each do |board|
      %tr
        %td= board.name
        %td 
          =link_to "Show", board_path(board), method: :get
        %td 
          =link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }

.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Import board file
      .modal-body
        %form{"data-toggle" => "validator", "role" => "form"}
          .form-group
            %label Board name
            %input#board_name.form-control{:placeholder => "Name", :required => "", :type=>"text"}
          .form-group
            %label File input
            %input#load{:type => "file"}/
            %p.help-block Currently supported format: .txt
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary#save_btn{:type => "button"} Save changes


