// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-responsive
{
    overflow-x: auto;
}
#connect_device_modal,#connect_success_modal,#connect_fail_modal{
  position: absolute;
  margin-top: 200px;
}
